<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>


<div class="cover-container">
    <img src="/img/cover.webp" alt="cover">
</div>
<div class="cards-container bg-black">


    <div class="container-fluid bg-black">
        <div class="text-center py-5">
            <h1>Still We Rise</h1>
        </div>
        <hr>

        <div class="row g-0 mt-5 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
                <a href="/item/{{item._id}}">
                    <div class="collection-img position-relative">
                        <img src="img/{{item.tag}}.jpg">

                    </div>
                    <div class="py-1"></div>
                    <div class="text-center">
                        <p class="text-capitalize my-1">{{item.name}}</p>
                        <span class="fw-bold">$ {{item.price}}</span>
                    </div>
                </a>
            </div>
            {{#each items}}

            <div class="col-md-6 col-lg-4 col-xl-3 bg-secondary">
                <a href="/item/{{this._id}}">
                    <div class="collection-img position-relative">
                        <img src="img/{{this.tag}}.jpg">

                    </div>
                    <div class="py-1"></div>
                    <div class="text-center">
                        <p class="text-capitalize my-1">{{this.name}}</p>
                        <span class="fw-bold">$ {{this.price}}</span>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

    </div>
    <div class="py-2"></div>



</div>